<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Enter Token</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" integrity="sha384-/frq1SRXYH/bSyou/HUp/hib7RVN1TawQYja658FEOodR/FQBKVqT9Ol+Oz3Olq5" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="stylesheet" href="css/styles.css">

</head>

<body>

  <%- include('navbar');  -%>

  <div>
    <% if (Status === "Tour Confirmed") { %>
    <div class="row">
      <div class="col-lg-6 make-them-incentre">
        <h1>Your Tour is Confirmed</h1>
        <form class="" action="/downloadReceipt" method="post">
          <button type="submit" class="btn btn-lg btn-outline-dark bttn">Download PDF and make payment</button>
        </form>
      </div>
      <div class="col-lg-6  make-them-incentre">
        <form class="" action="takeReview" method="post">
          <div class="">
            <h1>Write Your Review Here!!!</h1>
            <textarea type="text" class="form-control" name="userReview" value="" id="review" cols="80" rows="5"></textarea>
            <button type="submit" name="button" class="btn btn-outline-dark bttn">Submit</button>
          </div>

        </form>
      </div>
    </div>
    <% } %>








    <% if(Status ==="Under Processing" ){ %>
    <h1 style="text-align:center; margin:3% 0%;">Your Request Is Under Processing</h1>
    <% } %>

    <% if(Status ==="On-Hold By Customer" ){ %>
    <h1 style="text-align:center; margin:3% 0%;">Request is On Hold By The Customer</h1>
    <% } %>

    <% if(Status ==="On-Hold By Office" ){ %>
    <h1 style="text-align:center; margin:3% 0%;">Request is On Hold By The Office</h1>
    <% } %>

    <% if(Status ==="Tour Cancelled" ){ %>
    <h1 style="text-align:center; margin:3% 0%;">Your Request Is Cancelled</h1>
    <% } %>


  </div>

  <div class="row top-sec-userToken">

    <h3>Data given by you.</h3>

    <div class="col-lg-6">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">Attribute</th>
            <th scope="col">Given Value</th>



          </tr>
        </thead>
        <tbody>

          <tr>

            <td>

              1

            </td>
            <td>
              <label class="form-label">Name: </label>

            </td>
            <td>
              <label class="form-label"><%=booking_details[0].name%></label>

            </td>



          </tr>
          <tr>

            <td>

              2

            </td>
            <td>
              <label class="form-label">Email-ID</label>

            </td>
            <td>
              <label class="form-label"><%=booking_details[0].email%></label>

            </td>



          </tr>
          <tr>

            <td>

              3

            </td>
            <td>
              <label class="form-label">Mobile-No </label>

            </td>
            <td>
              <label class="form-label"><%=booking_details[0].mobile_number%></label>

            </td>



          </tr>
          <tr>

            <td>

              4

            </td>
            <td>
              <label class="form-label">Gender </label>

            </td>
            <td>
              <label class="form-label"><%=booking_details[0].gender%></label>

            </td>



          </tr>
          <tr>

            <td>

              5

            </td>
            <td>
              <label class="form-label">Local Tourist </label>

            </td>
            <td>
              <label class="form-label"><%=booking_details[0].is_local%></label>

            </td>



          </tr>
          <tr>

            <td>

              6

            </td>
            <td>
              <label class="form-label">Nationaltiy </label>

            </td>
            <td>
              <label class="form-label"><%=booking_details[0].nationality%></label>

            </td>



          </tr>
          <tr>

            <td>

              7

            </td>
            <td>
              <label class="form-label">Iqama/Bataqa Number </label>

            </td>
            <td>
              <label class="form-label"><%=booking_details[0].iqama_bataqa_number%></label>

            </td>



          </tr>
          <tr>

            <td>

              8

            </td>
            <td>
              <label class="form-label">Passport Number </label>

            </td>
            <td>
              <label class="form-label"><%=booking_details[0].passport_number%></label>

            </td>



          </tr>
          <tr>

            <td>

              9

            </td>
            <td>
              <label class="form-label">ISD-Code </label>

            </td>
            <td>
              <label class="form-label"><%=booking_details[0].isd_code%></label>

            </td>



          </tr>

        </tbody>
      </table>

    </div>
    <div class="col-lg-6">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">Attribute</th>
            <th scope="col">Given Value</th>



          </tr>
        </thead>
        <tbody>

          <tr>

            <td>

              10

            </td>
            <td>
              <label class="form-label"> Passport Issued Place </label>

            </td>
            <td>
              <label class="form-label"> <%=booking_details[0].passport_issued_place%></label>

            </td>



          </tr>
          <tr>

            <td>

              11

            </td>
            <td>
              <label class="form-label">Passport Issued On: </label>

            </td>
            <td>
              <label class="form-label"><%=booking_details[0].passport_issued_on%></label>

            </td>



          </tr>
          <tr>

            <td>

              12

            </td>
            <td>
              <label class="form-label">Valid Till </label>

            </td>
            <td>
              <label class="form-label"><%=booking_details[0].valid_till%></label>

            </td>



          </tr>
          <tr>

            <td>

              13

            </td>
            <td>
              <label class="form-label">Adult Count </label>

            </td>
            <td>
              <label class="form-label"><%=booking_details[0].adult_count%></label>

            </td>



          </tr>
          <tr>

            <td>

              14

            </td>
            <td>
              <label class="form-label">Children Count </label>

            </td>
            <td>
              <label class="form-label"><%=booking_details[0].children_count%></label>

            </td>



          </tr>
          <tr>

            <td>

              15

            </td>
            <td>
              <label class="form-label">Departure Date & Time </label>

            </td>
            <td>
              <label class="form-label"><%=booking_details[0].departure_date%></label>

            </td>



          </tr>
          <tr>

            <td>

              16

            </td>
            <td>
              <label class="form-label">Arrival Date & time: </label>

            </td>
            <td>
              <label class="form-label"><%=booking_details[0].arrival_date%></label>

            </td>



          </tr>
          <tr>

            <td>

              17

            </td>
            <td>
              <label class="form-label">Documnets Given </label>

            </td>
            <td>
              <form class="" action="/download" method="post">
                <input type="submit" name="download" value="<%=booking_details[0].file%>">
              </form>

            </td>



          </tr>


        </tbody>
      </table>

    </div>



  </div>








  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

</html>
